---
const links = [
  { text: "Inicio", href: "/" },
  { text: "Cachorros", href: "/servicios" },
  { text: "Clientes Felices", href: "/clientes-felices" },
  { text: "Blog", href: "/blog" }
];
---

<nav class="nav">
  <div class="nav__container">
    <div class="nav__content">
      <a href="/" class="nav__logo">StarsDogs</a>
      <div class="nav__links">
        {links.map(link => (
          <a href={link.href} class="nav__link">{link.text}</a>
        ))}
      </div>
    </div>
  </div>
</nav>
